.projects__row {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-gap: 5rem;
    margin-bottom: 11rem; }
    @media only screen and (max-width: 56.25em) {
      .projects__row {
        grid-template-columns: 1fr;
        grid-gap: 2rem;
        margin-bottom: 8rem; } }
    @media only screen and (max-width: 56.25em) {
      .projects__row {
        text-align: center; } }
    .projects__row:last-child {
      margin-bottom: 0; }
    .projects__row-img-cont {
      overflow: hidden; }
    .projects__row-img {
      width: 80%;
      display: block;
      object-fit: cover;
      border-radius: 20px; }